<phpunit bootstrap="web/core/tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./web/modules/custom/dynamic_toolkit/tests/src/Unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
